{% extends 'layout/skeleton' %}

{% block body %}

    {% include 'layout/menu' %}

    <main class="wrapper">
        {% block content %}{{ content|raw }}{% endblock content %}
    </main>

{% endblock %}
